<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>To-Do List</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../stylesheets/style.css">

</head>

<style>
  /* Add custom CSS styling here */
  body {
    padding-top: 50px;
  }
  .title {
    font-size: 2em;
    font-weight: bold;
  }
  .description {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  .date {
    font-size: 1em;
    color: gray;
  }
</style>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="todo-container p-4 bg-light">
          <div class="todo-header d-flex align-items-center justify-content-between mb-4">
            <h1 class="text-primary">To-Do List</h1>
            <button class="btn btn-primary" id="show-form" >Add Item</button>
            <button class="btn btn-primary" id="close-form" >Close Form</button>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form action="/todos/create" id="form-container-create" method="post">
                <div class="form-group">
                  <label for="titleInput">Title</label>
                  <input type="text" class="form-control" id="titleInput" name="title" placeholder="Enter title">
                </div>
                <div class="form-group">
                  <label for="descriptionInput">Description</label>
                  <textarea class="form-control" id="descriptionInput" name="description" rows="3" placeholder="Enter description"></textarea>
                </div>
                <div class="form-group">
                  <label for="datetimeInput">Date and Time</label>
                  <input type="datetime-local" class="form-control" id="datetimeInput" name="date">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
          <div class="container" id="edit-form-container">
          <div class="todo-list">
            <% todos.forEach(function(todo) { %>
            <div class="todo-item">
              <h3 class="text-<%= todo.color %>"><%= todo.title %></h3>
              <p><%= todo.description %></p>
              <span class="text-secondary">Due on: <%= todo.date %></span>
              <span class="todo-delete" ><a class="delete-todo" id="todo-delete" href="/todos/<%=todo.id%>/delete">Delete</a><a class="edit-todo" href="/todos/<%=todo.id%>/edit">Edit</a></span>
            </div>
            <% } ) %>
        </div>
        </div>
    </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../javascripts/custom.js"></script>

</body>
